<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <!-- ejs interpolation syntax -->
    <h1>Home Page: <%= "Ejs String inside Here".toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facilis quam
      in dolorem itaque perspiciatis distinctio deserunt, iste autem vel hic
      optio aliquid quo molestiae! Quod, porro? Odio, ipsa quae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facilis quam
      in dolorem itaque perspiciatis distinctio deserunt, iste autem vel hic
      optio aliquid quo molestiae! Quod, porro? Odio, ipsa quae.
    </p>
  </body>
</html>
